.form{
  width: 100%;
  .box *{
    margin: 10px;
  }
  .error-message {
    width: 500px;
    color: red;
  }
  .buttons *{
    width: 70px;
    height: 30px;
    background: white;
    color: brown;
    border: 1px solid brown;
    border-radius: 15px;
  }
  .buttons *:hover{
    color: white;
    background: brown;
  }
}
