<form class="form" [formGroup]="signUpForm">
  <div class="col centered box">
    <app-custom-input [type]="'text'" [name]="'name'" [placeholder]="'Name'" formControlName="name"></app-custom-input>
    <p *ngIf="formErrors.name" class="error-message">{{ formErrors.name }}</p>


    <app-custom-input [type]="'email'" [name]="'email'" [placeholder]="'Email'" formControlName="email"></app-custom-input>
    <p *ngIf="formErrors.email" class="error-message">{{ formErrors.email }}</p>

    <app-custom-input [type]="'password'" [name]="'password'" [placeholder]="'Password'" formControlName="password"></app-custom-input>
    <p *ngIf="formErrors.password" class="error-message">{{ formErrors.password }}</p>
    <p *ngIf="signUpForm.controls['password'].invalid && signUpForm.controls['password'].errors" class="error-message">{{
      signUpForm.controls['password'].value === "" ? messages.required : messages.password
      }}</p>

    <div class="row buttons">
      <button (click)="enable()">Enable</button>
      <button (click)="disable()">Disable</button>
      <button (click)="resetForm()">Reset</button>
      <button (click)="submit()">Submit</button>
    </div>
  </div>
</form>
